<header class="navbar navbar-fixed-top navbar-inverse">
<div class="container">
  <span class="h3 col-sm-4">
  <%= link_to "Account Book", root_path, id:"logo"%>
  </span>
  <nav class="col-sm-8">
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Home", root_path %></li>
      <% if logged_in? %>
        <li><%= link_to "事業一覧", divisions_path %></li>
        <li><%= link_to "帳簿一覧", records_path %></li>
        <li><%= link_to "ログアウト", logout_path, method: :delete %></li>
      <% end %>
    </ul>
  </nav>
</div>
</header>